<h2>Hello, <%= current_user.email %>!</h2>

<% if @rating.rating_value == nil %>
  <h3>You haven't rated <%= @game.name %> yet!</h3>
  <%= link_to 'Click Here to Rate it', user_rating_path %>
  <% else %>
  <h3>Your rating for <%= @game.name %>: <%= @rating.rating_value %>/10</h3>
  <p> <%= @rating.comment %> </p>
  <%= link_to 'Click Here to Edit', user_rating_path %>
<% end %>
