<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <%= f.submit %>
  
<% end %>

<div id="postResult">
  <h2 id="tagName"></h2>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/tags', values);
      posting.done(function(data) {
        $("#tagName").text("New Tag Created: " + data["name"]);

        function Tag(id, name){
        this.name = name
        this.homeState = homeState
        this.training = training
        }
        Tag.prototype.veto = function(){
          return 'No, I must disagree'
        }

      });
    });
  });
</script>
