<h1>Welcome to FSteam!</h1>
<% @games.each do |game| %>
  <h3><%= link_to (game.name+" - "+number_to_currency(game.price.to_f)), game_path(game) %> </h3>
  <p> <%= purchase_game_link(game) %> </p>
  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
<% end %>
<br></br>
<%= link_to "Add A New Game", "games/new" %>
<%= link_to "Add A New Tag", new_tag_path %>
<h2> The Highest Rated Game on FSteam: </h2>
<p> <%= show_highest_rated(@highest_rated_game) %> </p>
