<% if flash[:notice] %>
    <br><div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1>Welcome to FSteam!</h1>
<% @games.each do |game| %>
  <h3><%= link_to (game.name+" - "+number_to_currency(game.price.to_f)), game_path(game) %> </h3>
  <p> <%= purchase_game_link(game) %> </p>
<% end %>
<br></br>
<%= link_to "Add A New Game", "games/new" %>
<%= link_to "Add A New Tag", new_tag_path %>
<a href="#" class="js-tags">View All Tags</a>
<ul class="tags"> </ul>
<h2> The Highest Rated Game on FSteam: </h2>
<p> <%= show_highest_rated(@highest_rated_game) %> </p>

<script type="text/javascript" charset="utf-8">
$(function () {

  $(".js-tags").on("click", getTags);
  
  function getTags(event) {
    event.preventDefault();
    if ($(".tags").children().length === 0) {
      $.get("/tags.json", Tag.renderListItems);
    }
    
  }
});
</script>
