<nav class="">
  <%= link_to "FSteam Home", root_path %>
  <% if user_signed_in? %>
    Signed in as <%= link_to current_user.email, user_path(current_user) %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    Your Balance: <%= number_to_currency(current_user.money.to_f) %>
    <%= link_to 'Add Funds', user_fund_path(current_user) %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>
</nav>
